.topRoot {
  padding:0;
  margin:0;
}
.topRoot * {
  padding:0;
  margin:0;
  font-size: 0;
  /* border:1px solid black; */
}

.bannerImage {
  display: block;
  margin: 0 auto 0 auto;
  width: 100%;
}

@media (min-width: 1280px) {
  .root {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    padding: 0;
  }
  .root * {
    margin: 0;
    padding: 0;
    /* font-size: 0; */
  }
  .my-info {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  .my-info > line1{
    display: block;
    width: 0;
    height: 120px;
    border: solid 1px #707070;
    margin: 64px auto 0 auto;
  }
  .my-info > h1{
    margin-top: 16px;
    font-family: Noto Sans;
    font-size: 160px;
    font-weight: bold;
    text-align: center;
    color: #b4a570;
    line-height: 0.9;
    /* border: 1px solid black; */
    
  }
  .my-info > h2{
    margin-top: 24px;
    font-family: Noto Sans KR;
    font-size: 36px;
    text-align: center;
    color: #707070;
  }
  .my-info > h3{
    margin-top: 16px;
    font-family: Noto Sans KR;
    font-size: 21px;
    font-weight: 300;
    font-stretch: normal;
    text-align: center;
    color: #767676;
    margin-bottom: 64px;
    line-height: 1.76;
  }
  .my-info > line2{
    display: block;
    width: 0;
    height: 480px;
    border: solid 1px #707070;
    margin: 0 auto 0 auto;
  }

  .solution {
    margin-top: 64px;
    display: grid;
    grid-template: 
      'title title'
      'left1 right1'
      'left2 right2'
      'left3 right3';
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 50% 50%;
    grid-gap: 0px;
  }

  .title { 
    grid-area: title; 
    background-color: rgba(180, 165, 112, 0.48);
    padding: 48px;
  }
  .title > h1 {
    font-family: Playfair Display SC;
    font-size: 48px;
    font-weight: normal;
    text-align: center;
    color: #b4a570;
  }
  .title > h2 {
    font-family: Noto Sans KR;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }
  .solutionContent {
    /* display: block; */
    /* border: 10px solid black; */
    width: 620px;
    margin-left: auto;
    /* margin-right: 20px; */
  }


  .solutionContent > h1 {
    font-family: Noto Sans KR;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #bdbdbd;
    letter-spacing: -3.84px;
    line-height: 1.6;
  }
  .solutionContent > h2 {
    font-family: Noto Sans KR;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;
    letter-spacing: -0.72px;  
    color: #707070;
    margin-bottom: 8px;
  }
  .solutionContent > h3 {
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    color: #767676;
    line-height: 1.78;
    letter-spacing: -0.36px;
  }

  .solutionImage {
    display: block;
    width: 553px;
    margin: 55px auto 55px 55px;
  }

  .leftItem1 { 
    grid-area: left1; 
    /* width: 620px; */
    /* height: 100%; */
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 70px;
  }
  .rightItem1 { 
    grid-area: right1;
    background-color: #f5f5f5;
  }
  .leftItem2 { 
    grid-area: left2;
    height: 100%;
    background-color: #f5f5f5;
    padding-top: 20%;
    padding-left: 70px;
  }
  .rightItem2 { grid-area: right2;}
  .leftItem3 {
    grid-area: left3;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 70px;
  }
  .rightItem3 { 
    grid-area: right3;
    background-color: #f5f5f5;
  }
  
  .logo {
    margin: 104px auto 104px auto;
    width: 700px;
    /* border: 1px solid #707070; */
  }

  .logo > h1 {
    font-family: Playfair Display SC;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -0.9px;
    text-align: center;
    color: #b4a570;
  }

  .logoImage{
    display: block;
    width: 550px;
    margin: auto;
  }

  .finalImage{
    display: block;
    width: 100%;
  }

  .finalContent{
    display: block;
    text-align: center;
  }

  .finalContent > h1{
    margin-top: 120px;
    font-family: Noto Sans KR;
    font-size: 24px;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.72px;
    color: #707070;
  }

  .finalContent > h2{
    margin-top: 16px;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 1.78;
    letter-spacing: -0.36px;
    color: #767676;
  }
  .finalContent > a {
    display: block;
    margin: auto;
    margin-bottom: 120px;
    width: 206px;
    text-decoration: none;
    border-radius: 20px;
    border: solid 1px #707070;
    font-family: Noto Sans KR;
    font-size: 16px;
    font-weight: 300;
    color: #707070;
    padding: 4px;
    line-height: 2;
  }

  .my-line {
    display: block;
  }
}

@media (max-width: 1280px) {
  .root {
    margin: 0 auto 0 auto;
    padding: 0;
    /* border: 10px solid black; */
  }
  .root * {
    margin: 0;
    padding: 0;
    font-size: 0;
    /* border: 10px solid black; */
  }
  .my-info {
    /* margin-top: 40px; */
    /* margin-bottom: 16px; */
  }
  .my-info > line1{
    display: block;
    width: 0;
    height: 60px;
    border: solid 0.5px #707070;
    margin: 40px auto 0 auto;
  }
  .my-info > h1{
    margin-top: 16px;
    font-family: Noto Sans;
    font-size: 96px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -3.84px;
    line-height: 1.4;
    color: #b4a570;
    
  }
  .my-info > h2{
    margin-top: 0px;
    font-family: Noto Sans KR;
    font-size: 24px;
    text-align: center;
    letter-spacing: -0.48px;
    color: #707070;
  }
  .my-info > h3{
    margin-top: 8px;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    text-align: center;
    color: #767676;
    margin-bottom: 16px;
    line-height: 1.79;
    letter-spacing: -0.28px;
  }
  .my-info > line2{
    display: block;
    width: 0;
    height: 300px;
    border: solid 0.5px #707070;
    margin: 0 auto 24px auto;
  }

  .solution {
    display: grid;
    grid-template: 
      'title'
      'left1'
      'right1'
      'left2'
      'right2'
      'left3'
      'right3';
      grid-row-gap: 10px;
  }

  .title { 
    /* display: block; */
    /* border: 1px solid black; */
    grid-area: title; 
    padding: 16px;
    background-color: rgba(180, 165, 112, 0.48);
  }
  .title > h1 {
    margin-top: 24px;
    font-family: Playfair Display SC;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    letter-spacing: -0.96px;
    color: #b4a570;
  }
  .title > h2 {
    margin-top: 4px;
    margin-bottom: 24px;
    font-family: Noto Sans KR;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.42px;
    color: #ffffff;
  }

  .solutionContent > h1 {
    margin-top: 40px;
    font-family: Noto Sans KR;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #bdbdbd;
  }
  .solutionContent > h2 {
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    text-align: center;
    letter-spacing: -0.54px;
    color: #707070;
  }
  .solutionContent > h3 {
    margin-top: 4px;
    margin-bottom: 16px;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    text-align: center;
    letter-spacing: -0.26px;
    color: #767676;
  }

  .solutionImage {
    /* margin-top: 80px; */
    display: block;
    width: 100%;
    /* margin: auto; */
    margin-left: 100px;
    /* border: 10px solid black; */
  }

  .leftItem1 { 
    grid-area: left1; 
    /* margin-top: 20px; */
  }
  .rightItem1 { 
    grid-area: right1;
    /* margin: auto; */
    /* margin-left: 100px; */
    /* border: 10px solid black; */
  }
  .leftItem2 { 
    grid-area: left2;
    /* margin-top: 20px; */
    /* background-color: #f5f5f5; */
  }
  .rightItem2 { 
    grid-area: right2;
    /* margin-top: 4px; */
  }
  .leftItem3 {
    grid-area: left3;
    /* margin-top: 20px; */
  }
  .rightItem3 { 
    /* border: 1px solid black; */
    grid-area: right3;
    margin-top: 4px;
    /* background-color: #f5f5f5; */
    /* margin-bottom: 80px; */
  }

  .logo > picture > img{
    margin: 80px auto 0px auto;
    /* margin: auto; */
  }

  .logo > h1 {
    font-family: Playfair Display SC;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    color: #b4a570;
    letter-spacing: -0.53px;
    margin-bottom: 80px;
  }
  
  .logoImage{
    
    display: block;
    width: 47.9%;
    /* margin-top: 80px; */
    /* border: 1px solid black; */
  }

  .finalImage{
    display: block;
    width: 100%;
  }

  .finalContent{
    /* margin-bottom: 44px; */
    /* margin-top: 44px; */
    text-align: center;
    /* border: 1px solid black; */
  }

  .finalContent > h1{
    margin-top: 80px;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.2;
    text-align: center;
    color: #707070;
  }

  .finalContent > h2{
    /* margin-top:8px; */
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: -0.24px;
    text-align: center;
    color: #767676;
    margin-bottom: 0px;
  }
  .finalContent > a {
    display: block;
    /* margin-bottom: 80px; */
    width: 147px;
    margin: 0px auto 80px auto;
    text-decoration: none;
    border-radius: 12px;
    border: solid 1px #707070;
    font-family: Noto Sans KR;
    font-size: 10px;
    font-weight: 300;
    color: #707070;
    padding: 2px;
    line-height: 2;
  }

  .my-line {
    display: inline;
  }
  .my-line2{
    display: block;
  }
}

@media (max-width: 720px) {
  .root {
    margin: 0 auto 0 auto;
    padding: 0;
  }
  .root * {
    margin: 0;
    padding: 0;
    font-size: 0;
    /* border: 1px solid black; */
  }

  .my-info > line1{
    display: block;
    width: 0;
    height: 40px;
    border: solid 0.5px #707070;
    margin: 20px auto 0 auto;
  }
  .my-info > h1{
    margin-top: 8px;
    font-family: Noto Sans;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -1.92px;
    color: #b4a570;
    
  }
  .my-info > h2{
    margin-top: 4px;
    font-family: Noto Sans KR;
    font-size: 14px;
    letter-spacing: -0.28px;
    text-align: center;
    color: #707070;
  }
  .my-info > h3{
    margin-top: 8px;
    font-family: Noto Sans KR;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    text-align: center;
    color: #767676;
    letter-spacing: -0.48px;
    line-height: 1.75;
    margin-bottom: 16px;
  }
  .my-info > line2{
    display: block;
    width: 0;
    height: 120px;
    border: solid 0.5px #707070;
    margin: 0 auto 16px auto;
  }

  .solution {
    display: grid;
    grid-template: 
      'title'
      'left1'
      'right1'
      'left2'
      'right2'
      'left3'
      'right3';
      grid-row-gap: 0px;
  }

  .title { 
    grid-area: title; 
    /* padding: 12px; */
    background-color: rgba(180, 165, 112, 0.48);
  }
  .title > h1 {
    margin-top: 12px;
    font-family: Playfair Display SC;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #b4a570;
  }
  .title > h2 {
    margin-bottom: 12px;
    font-family: Noto Sans KR;
    font-size: 16px;
    letter-spacing: -0.4px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }

  .solutionContent > h1 {
    margin-top: 24px;
    font-family: Noto Sans KR;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #bdbdbd;
  }
  .solutionContent > h2 {
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    text-align: center;
    color: #707070;
    /* margin-bottom: 0px; */
  }
  .solutionContent > h3 {
    font-family: Noto Sans KR;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    text-align: center;
    color: #767676;
  }

  .solutionImage {
    display: block;
    width: 67.2%;
    /* width: 100%; */
    /* margin: auto; */
    /* border: 10px solid black; */
    /* margin-left: 20px; */
    /* margin-left: 1000px; */
  }

  .leftItem1 { 
    grid-area: left1; 
    /* margin-top: 20px; */
  }
  .rightItem1 { 
    grid-area: right1;
  }
  .leftItem2 { 
    grid-area: left2;
    /* margin-top: 20px; */
    /* background-color: #f5f5f5; */
  }
  .rightItem2 { 
    grid-area: right2;
    /* margin-top: 4px; */
  }
  .leftItem3 {
    grid-area: left3;
    /* margin-top: 20px; */
  }
  .rightItem3 { 
    grid-area: right3;
    margin-top: 4px;
    /* background-color: #f5f5f5; */
  }


  .rightItem1 > picture >img,
  .rightItem2 > picture >img,
  .rightItem3 > picture >img {
    margin: 0px auto 0 auto;
    /* border: 10px solid black; */
  }

  .logo > picture > img{
    margin: 48px auto 0px auto;
    /* margin: auto; */
  }

  .logo > h1 {
    /* margin-top: 0px; */
    margin-bottom: 48px;
    font-family: Playfair Display SC;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.4px;
    text-align: center;
    color: #b4a570;
  }
  
  .logoImage{
    display: block;
    width: 44.4%;
    /* margin: auto; */
  }

  .finalImage{
    display: block;
    width: 100%;
  }

  .finalContent > h1{
    margin-top: 48px;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: bold;
    line-height: 3.5;
    letter-spacing: -0.42px;
    text-align: center;
    color: #707070;
  }

  .finalContent > h2{
    font-family: Noto Sans KR;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: -0.24px;
    text-align: center;
    color: #767676;
  }
  .finalContent > a {
    display: block;
    margin-top: 12px;
    margin-bottom: 48px;
    width: 125px;
    text-decoration: none;
    border-radius: 10px;
    border: solid 1px #707070;
    font-family: Noto Sans KR;
    font-size: 10px;
    font-weight: 300;
    color: #707070;
    padding: 1px;
    line-height: 2;
  }
  .my-line {
    display: block;
  }
  .my-line2{
    display: block;
  }
}


