.mainBannerImage {
  display: block;
  width: 100%;
  margin: auto;
  /* border: 1px solid black; */
  margin-bottom: 0px;
  /* border-radius: 0%; */
}

.itemImage {
  display: block;
  width: 100%;
  margin: auto;
  /* border: 1px solid black; */
  /* border-bottom: none; */
}

.root * {
  margin: 0px;
  padding: 0px;
}

@media (min-width: 1280px) {
  .rootWidth {
    max-width: 1280px;
    margin: auto;
    padding: 0;
    /* background-color: white; */
    /* border: 11px solid black; */
  }
  .rootWidth * {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
  }

  .wedding2 {
    display: block;
    /* margin: 80px auto 40px auto; */
    padding: 0px;
    /* border: 1px solid black; */
  }

  .wedding2 > h1 {
    margin-top: 80px;
    font-family: Playfair Display SC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: -1.44px;
    text-align: center;
    color: #b4a570;
  }

  .wedding2 > h2 {
    font-family: Noto Sans KR;
    font-size: 24px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: -0.48px;
    text-align: center;
    color: #707070;
    margin-bottom: 40px;
  }
  
  .grid-container {
    display: grid;
    margin-top: 40px;
    /* border: 1px solid black; */
    /* margin-bottom: 120px; */
    grid-template: 
     'item1 item2 item3 item4';
    justify-content: center;
    /* grid-auto-columns: 1fr 1fr 1fr 1fr; */
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
  }


  .grid-container > div > h1 {
    border: 1px solid #707070;
    border-bottom: none;
    padding-top: 8px;
    font-family: Noto Sans;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: -0.54px;
    text-align: center;
    color: #707070;
    background-color: white;
  }

  .grid-container > div > h2 {
    border: 1px solid #707070;
    border-top: none;
    padding-bottom: 8px;
    font-family: Noto Sans KR;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: -0.48px;
    text-align: center;
    color: #707070;
    margin-bottom: 14px;
  }

  .item1:hover,
  .item2:hover,
  .item3:hover,
  .item4:hover {
    opacity: 0.5;
  }

  .item1 {
    grid-area: item1;
  }
  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }
  .item4 {
    grid-area: item4;
  }

  .item1,
  .item2,
  .item3,
  .item4 {
    border-radius: 0%;
  }

  .item1 > picture > img,
  .item2 > picture > img,
  .item3 > picture > img,
  .item4 > picture > img {
    border-radius: 0%;
  }

  .myinfo > div > h3 {
    /* display: block; */
    font-family: NotoSansCJKKR;
    font-size: 12px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.24px;
    text-align: left;
    color: #707070;
  }

  .empty {
    height: 120px;
  }
}


@media (max-width: 1280px) {

  .wedding2 > h1 {
    margin-top: 40px;
    font-family: Playfair Display SC;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: -0.96px;
    text-align: center;
    color: #b4a570;
  }

  .wedding2 > h2 {
    margin-bottom: 24px;
    font-family: Noto Sans KR;
    font-size: 21px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: -0.42px;
    text-align: center;
    color: #707070;
  }

  
  .grid-container {
    display: grid;
    width: 100%;
    /* border: 1px solid black; */
    /* margin: auto; */
    grid-template: 
     'item1 item2'
     'item3 item4';
    grid-auto-columns: 45% 45%;
    grid-auto-rows: 1fr 1fr;
    justify-content: center;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }


  .grid-container > div > h1 {
    border: 1px solid #707070;
    border-bottom: none;
    padding-top: 8px;
    font-family: Noto Sans;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: -0.54px;
    text-align: center;
    color: #707070;
    background-color: white;
  }

  .grid-container > div > h2 {
    border: 1px solid #707070;
    border-top: none;
    padding-bottom: 8px;
    font-family: Noto Sans KR;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.48px;
    text-align: center;
    color: #707070;
    margin-bottom: 14px;
  }

  .item1 {
    grid-area: item1;
  }

  .item1 > h2 {
    font-size: 10px;
  }
  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }
  .item4 {
    grid-area: item4;
  }

  .item1,
  .item2,
  .item3,
  .item4 {
    border-radius: 0%;
  }

  .item1 > picture > img,
  .item2 > picture > img,
  .item3 > picture > img,
  .item4 > picture > img {
    border-radius: 0%;
  }

  .myinfo > div > h3 {
    /* display: block; */
    font-family: NotoSansCJKKR;
    font-size: 12px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: -0.24px;
    text-align: left;
    color: #707070;
  }

  .empty {
    height: 40px;
  }
}

@media (max-width: 720px) {

  .wedding2 > h1 {
    margin-top: 20px;
    font-family: Playfair Display SC;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.1;
    letter-spacing: -0.64px;
    text-align: center;
    color: #b4a570;
  }

  .wedding2 > h2 {
    margin-bottom: 8px;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: -0.28px;
    text-align: center;
    color: #707070;
  }

  
  .grid-container {
    display: grid;
    width: 100%;
    /* border: 1px solid black; */
    /* margin: auto; */
    grid-template: 
     'item1 item2'
     'item3 item4';
    grid-auto-columns: 45% 45%;
    grid-auto-rows: 1fr 1fr;
    justify-content: center;
    grid-column-gap: 12px;
    grid-row-gap: 6px;
  }


  .grid-container > div > h1 {
    border: 0.01em solid #707070;
    /* border: 10px solid black; */
    border-bottom: none;
    padding-top: 8px;
    font-family: Noto Sans;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.4;
    letter-spacing: -0.54px;
    text-align: center;
    color: #707070;
    background-color: white;
  }

  .grid-container > div > h2 {
    border: 0.01em solid #707070;
    border-top: none;
    padding-top: 4px;
    font-family: Noto Sans KR;
    font-size: 9px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.48px;
    text-align: center;
    color: #707070;
    margin-bottom: 8px;
  }

  .item1 {
    grid-area: item1;
  }

  .item1 > h2 {
    font-size: 10px;
  }
  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }
  .item4 {
    grid-area: item4;
  }

  .item1,
  .item2,
  .item3,
  .item4 {
    border-radius: 0%;
  }

  .item1 > picture > img,
  .item2 > picture > img,
  .item3 > picture > img,
  .item4 > picture > img {
    border-radius: 0%;
  }

  .myinfo > div > h3 {
    /* display: block; */
    font-family: NotoSansCJKKR;
    font-size: 10px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: -0.2px;
    text-align: left;
    color: #707070;
  }

  .empty {
    height: 20px;
  }
}


