.mainBannerImage {
  display: block;
  width: 100%;
  margin: auto;
}
.root * {
  font-size: 0px;
  padding: 0px;
  margin: 0;
  /* border: 1px solid black;  */
}

@media (min-width: 1280px) {
  .rootWidth {
    max-width: 1280px;
    margin: auto;
    padding: 0;
    /* background-color: white; */
    /* border: 11px solid black; */
  }
  .rootWidth * {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
  }
  .wedding {
    margin: 80px auto 40px auto;
  }

  .wedding > h1 {
    font-family: PlayfairDisplaySC;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: -1.44px;
    text-align: center;
    color: #b4a570;
  }

  .wedding > h2 {
    font-family: NotoSansKR;
    font-size: 24px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: -0.48px;
    text-align: center;
    color: #707070;
  }

  .info{
    /* border: 1px solid black; */
    padding-left: 90px;
    text-align: left;
    margin-right: auto;
  }
  .info > button {
    margin-right: 16px;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.22;
    letter-spacing: -0.36px;
    text-align: center;
    color: #707070;
  }

  .info-content {
    font-size: 10px;
  }

  .info-content > div {
    /* font-size: 10px; */
    border-bottom: solid 1px #b4a570;
    padding: 24px 0px 24px 0px;
  }

  .info-content > div > h1 {
    display: inline;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.86;
    letter-spacing: -0.28px;
    color: #707070;
  }
  .info-content > div > button {
    /* display: inline; */
    float: right;
    font-weight: bold;
    font-size: 40px;
    color: #b4a570;
  }

  .list {
    font-size: 10px;
  }
}

@media (max-width: 1280px) {

}

@media (max-width: 720px) {

}


