
.grid-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap : 10px;  
}

.login{
  /* grid-column : 1 / span 4; */
  text-align: right;
  padding: 10px;
  border : 1px solid black;
}

.title{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border : 1px solid black; */
}

.logo{
  padding : 10px;
  border: 1px solid black;
}
.banner{
  text-align: right;
  padding : 10px;
  border : 1px solid black;
}
.banner > ul{
  display: inline;
}
.content{
  border: 1px solid black;
}

